@page
@model OdeToFood.Pages.Restaurants.FileModel
@{
}
<h1>Restaurants</h1>
<h3>@Model.Message</h3>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
            </div>
    </div>
</form>

<table >
    @foreach(var restaurant in Model.Restaurants){
        <tr>
            <td>
                @restaurant.Name
            </td>
            <td>
                @restaurant.Location
            </td>
            <td>
                @restaurant.Cuisine
            </td>
            <td>
                <a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">Link</a>
            </td>
        </tr>
    }
</table>
